@import "../../../colors.scss";
@import "../../../shadows.scss";

.bg-dark-custom {
    background-color: color(darkBackground) ;
}

button {
    border: none;
    border-radius: 10px;
    background-color: color(darkBackground);
}

.padding-custom { 
    max-height: 15vh;
    height: 15vh;
    padding: 10px 20px;
}


button.link-button, .register, .logout {
    border: 1px solid color(boxShadowLight-1);
    text-decoration: none;
    padding: 10px;
    background-color: color(darkBackground);
    transition: box-shadow ease-in-out .3s;
    font-size: 1rem;
    cursor: pointer;
} 

button.link-button:hover {
    border-color: transparent;
    box-shadow:  5px 5px 9px color(boxShadowLight-1),
        -5px -5px 9px color(boxShadowLight-1)
}

div {
    .register, .logout {
        border: none;
        transition: box-shadow ease-in-out .5s;
        box-shadow:  5px 5px 9px color(boxShadowDark-1),
             -5px -5px 9px color(boxShadowLight-1);
    }

    .register:hover, .logout:hover {
        box-shadow:  5px 5px 12px color(boxShadowDark-1),
             -5px -5px 12px color(boxShadowLight-1);
    }
}

.relative {
    max-width: 75px;
    max-height: 15vh;
}