<div class="padding-custom navbar-shadow" fxLayout="row" fxLayoutAlign="center center">
    <div class="bg-dark-custom" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
        <!-- TODO: verificar novas cores e formatos para logo ficar diferente do escudo do capitao america -->
        <div fxLayout="row" fxLayoutAlign="center center">
            <button *ngIf="public || !user?.id" (click)="navigate('/')">
                <img src="../../../assets/images/logo.svg" width="50px" height="50px">
            </button>
            <div [ngClass]="{'d-none': !user?.id}"  class="home-button" (click)="navigate('/')">
                <div class="relative">
                    <app-circle-progress-bar [percentage]="user?.today_percentage_complete" *ngIf="!public"></app-circle-progress-bar>
                </div>
            </div>

            <div
            *ngIf="user?.id"
            class="ml-3 text-container ">

                <span>Bem vindo {{user?.name}}</span><br>
                <small>{{ user?.week_day }}</small><br>
                <div fxLayout="row"
                fxLayoutGap="7px"
                fxLayoutAlign="start center">
                    <strong>{{ user?.today }}</strong>
                    <div class=" p-0 mb-2">
                        <form [formGroup]="form"> 
                            <input formControlName="date" class="d-none"   matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle 
                            [disabled]="loading"
                            matSuffix 
                            [for]="picker">
                                <mat-icon *ngIf="!loading" class="icon-button-shadow icon-button icon-green"  matDatepickerToggleIcon>today</mat-icon>
                                <mat-icon *ngIf="loading" class="icon-button icon-green icon-loading" matDatepickerToggleIcon>cached</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </form>
                    </div>
                </div>
             </div>
        </div>

        
        <!-- TODO: Adicionar links ativos  -->
        <div fxLayout="row" fxLayoutGap="10px">
            <button class="link-button" (click)="navigate('')"*ngIf="public"  (click)="navigate('/login')">Login</button>
            <button class="register" *ngIf="public" (click)="navigate('/register')">Registrar</button>
            <button class="link-button" *ngIf="!public" (click)="navigate('/courses')">Cursos</button>
            <button class="link-button" *ngIf="!public"  (click)="navigate('/goals')">Metas</button>
            <button class="logout" *ngIf="!public" (click)="logout()">Logout</button>
        </div>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>