<div class="padding-custom">
    <div class="bg-dark-custom" fxLayout="row" fxLayoutAlign="space-between center">

        <button class="brand-custom-button" (click)="navigate('/')">
            <img src="../../../assets/images/logo.svg" width="50px" height="50px">
        </button>

        <div fxLayout="row" fxLayoutGap="10px">
            <button class="link-button" (click)="navigate('')"*ngIf="public"  (click)="navigate('/login')">Login</button>
            <button class="register" *ngIf="public" (click)="navigate('/register')">Registrar</button>
            <button class="link-button" *ngIf="!public" (click)="navigate('/courses')">Cursos</button>
            <button class="link-button" *ngIf="!public"  (click)="navigate('/goals')">Metas</button>
            <button class="logout" *ngIf="!public" (click)="logout()">Logout</button>
        </div>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>