<app-navbar [public]="false"></app-navbar>
<table mat-table [dataSource]="courses">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let course"> {{course.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let course"> {{course.name}} </td>
  </ng-container>
  <ng-container matColumnDef="duration_minutes">
    <th mat-header-cell *matHeaderCellDef> Duração </th>
    <td mat-cell *matCellDef="let course"> {{course.duration_minutes}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let course"> 
      <button mat-icon-button><mat-icon class="color-danger">delete</mat-icon></button>
      <button mat-icon-button><mat-icon class="color-secondary">edit</mat-icon></button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let course; columns: displayedColumns"></tr>
</table>