<h1 class="text-center">Log in</h1>

<form [formGroup]="form" (submit)="submit()"  class="form mt-3">
    <div class="form-group">
        <input 
        formControlName="email" 
        type="email" 
        class="form-control" 
        placeholder="Email">
        <small *ngIf="email?.errors?.required && (email?.dirty || email?.touched)" class="text-danger">O Email é obrigatório.</small>
        <small *ngIf="email?.errors?.email && (email?.dirty || email?.touched)" class="text-danger">O Email deve ter o formato de email.</small>
    </div>

    <div class="form-group">
        <input 
        formControlName="password" 
        type="password" 
        class="form-control" 
        placeholder="Password">
        <small *ngIf="password?.errors?.required && (password?.dirty || password?.touched)" class="text-danger">O password é obrigatório.</small>
    </div>
    <button [disabled]="!form.valid" class="btn btn-lg btn-primary btn-block">Login</button>
</form>