<div class="card-container card-shadow ">
    <div #bgSlide class="bg-slide " [ngClass]="{'transition-after': goalItem?.status}">
        <div 
        fxLayout="column" 
        fxLayoutAlign="space-between start" 
        class="p-3 background-slide">
            <div>
                <div class="mb-3" fxFlex="70">
                    <span class="h4 text">{{ goalItem?.course?.name }}</span>
                </div>
            </div>
            <div 
            *ngIf="!loading"
            class="icon-options p-2"
            fxLayoutGap="5px"
            fxLayout="row" 
            fxLayoutAlign="center center ">
                <mat-icon *ngIf="!goalItem?.status" (click)="done('done')" class="icon-button icon-green">check_circle</mat-icon>
                <mat-icon *ngIf="goalItem?.status" (click)="done('undone')" class="icon-button icon-light-red">cancel</mat-icon>
                <mat-icon (click)="navigateResource(goalItem?.course?.resource_place)" class="icon-button icon-light-blue">link</mat-icon>
                <mat-icon (click)="update(goalItem)" class="color-secondary icon-button ">edit</mat-icon>
            </div>

            <div 
            *ngIf="loading"
            class="icon-options p-2"
            fxLayoutGap="5px"
            fxLayout="row" 
            fxLayoutAlign="center center ">
                <mat-icon class="icon-button icon-green icon-loading">cached</mat-icon>
            </div>
    
            <div 
            class="w-100"
            fxLayoutGap="3px"
            fxLayout="row" 
            fxLayoutAlign="space-between center">
                <span [ngClass]="{'font-weight-bold icon-light-red': goalItem?.late}">{{ goalItem?.day_formatted }}</span>
                <div fxLayoutGap="3px"
                fxLayout="row" 
                fxLayoutAlign="start center">
                    <mat-icon class="icon">schedule</mat-icon>
                    <span class="">{{ goalItem?.time_formatted }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
