<!-- TODO: Cria tutorial para quando não existir nenhum cadastro na conta do usuario -->
<!-- TODO: adicionar separação de metas concluidas e abertas na interface -->
<app-navbar 
(ChangeDateEvent)="dateChangeEventHandle($event)"
[user]="user" 
[public]="false"></app-navbar>
<div class="d-flex">
    <div #scrollItems 
    class="dayly-items-scroll w-20 pr-2 navbar-shadow rounded-bottom">
        
        <div
        #buttonGoal 
        class="text-left w-100 mb-2 goal-item-button " 
        id="{{goal.id}}" 
        (click)="goalCliked(goal)" 
        *ngFor="let goal of user?.goals">
            <div
            class="p-3 content-button " >
                <span fxFlex="60">{{ goal.title }}</span> 
                <div class="status-icon-box">
                    <mat-icon *ngIf="goal.today_status" matTooltip="tarefa diaria concluida" class="status-icon icon-green">done</mat-icon>
                    <mat-icon *ngIf="!goal.today_status" matTooltip="itens para concluir" class="status-icon icon-warning">info</mat-icon>
                    <mat-icon *ngIf="goal.late" matTooltip="itens em atraso" class=" status-icon icon-light-red">info</mat-icon>
                </div>
            </div>    
            
        </div>
        
    </div>

    <div 
    class="p-3 dayly-items-scroll" 
    fxFlex
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    fxLayoutGap="20px">
        <div *ngFor="let goalItem of goal?.goal_items " 
        class="mb-3" 
        fxFlex="30"
        fxFlex.sm="45"
        fxFlex.xs="75">
            <app-goal-item-cell 
            [goalItem]="goalItem" 
            (ChangeGoalItemStatusEvent)="goalItemChange($event)"
            ></app-goal-item-cell>
        </div>

        <div *ngFor="let goalItem of goal?.late_goal_items_for_today " 
        class="mb-3" 
        fxFlex="30"
        fxFlex.sm="45"
        fxFlex.xs="75">
            <app-goal-item-cell 
            [goalItem]="goalItem" 
            (ChangeGoalItemStatusEvent)="goalItemChange($event)"
            ></app-goal-item-cell>
        </div>
    </div>
</div>

