$colors: (
    darkBackground: #fefefe,
    primaryColor: aqua,
    lightColor: #fff,
    boxShadowLight-1:  #fff,
    boxShadowDark-1: #00000050,
    fontColorDark: #080808,
    prymaryLightRed: #f72020,
    prymaryDarkRed: #950505,
    prymaryLighterBlue: #509aee,
    prymaryLightBlue: #1f6cc4,
    prymaryDarkBlue: #113c6d,
    successB: #5cb85c,
    warningB: #f0ad4e
);

@function color ($color-name) {
    @return map-get($colors, $color-name)
}
