@import "colors.scss"; 
/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}

html, body { 
    height: 100%;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: color(darkBackground) !important;
}

.color-danger {
    color:#d9534f
}

.color-green {
    color: #fff !important;
    background-color: #28a745 !important;
}

.color-secondary {
    color: #8a8a8a
}

.bg-secondary {
    background-color:#8a8a8a
}

:focus {
    outline: none !important;
}

button {
    border: none;
    outline: none;
    background-color: color(darkBackground);
}

table {
    width: 80%;
    margin: 0 auto;
}

.border-red {
    border: 2px solid #f00 ;
} 

.height {
    height: 250px !important;
}

.icon-green {
    color: color(successB);
}

.icon-light-red {
    color: color(prymaryLightRed);
}

.icon-light-blue {
    color: color(prymaryLightBlue);
}

.icon-warning {
    color: color(warningB);
}

.icon-loading {
    animation: loading ease-in-out 1.2s infinite;
}

@keyframes loading {
    0% { 
        transform: rotate(360deg) scale(1);
    }

    50% {
        transform: rotate(0deg) scale(1.2);
    }

    100% { 
        transform: rotate(360deg) scale(1);
    }
}

.w-20 {
    width: 20%;
}

.items-scroll {
    max-height: 85vh;
    height: 85vh;
    padding: 5px;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: color(prymaryLightBlue);
}
